.feature__main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}
.feature__main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 4rem;
    border: 1px solid black;
    border-radius: 50px;
    background: var(--color-defaultBlue);
}
.feature__main-container h1 {
    padding: 2rem 0;
}
.feature__main-container_grid {
    margin-top: 2rem;

    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    row-gap: 4rem;
}
@media screen and (max-width: 1050px){
    .feature__main-container_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 950px){
    .feature__main {
        padding: 2rem;
    }
    .feature__main-container h1 {
        font-size: 35px;
    }
    .feature__main-container {
        padding: 3rem;
    }
}
@media  screen and (max-width:650px ) {
    .feature__main-container_grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature__main-container h1 {
        font-size: 30px;
    }
    .feature__main {
        padding: 1rem;
    }
    .feature__main-container {
        padding: 1.5rem;
        border-radius: 25px;
    }
}